{{ define "body" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
              
<!-- Optional Header Image -->
{{ if .Params.header.image }}
<div class="article-header">
  <img src="{{ .Params.header.image | absURL }}" class="article-banner" itemprop="image">
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

<div class="button-container">
  <a href="/about" style="background-color: #5fa8d7;" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="Supported by ISMRM">About</a>
  <a href="https://twitter.com/mrm_highlights?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow us on Twitter">
      <i class="fa fa-twitter"></i>
  </a>
</div>

   <!-- List pages can get Content and yaml metadata from an _index.md -->
  {{ with .Content }}<div class="article-style" itemprop="articleBody">{{ . }}</div>{{ end }}


<div class="container justify-content-center">
 
  <br>
  <div class="alert alert-danger" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons objects_spaceship"></i>
      </div>
      <strong>Announcement</strong> Placeholder announcement banner.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </span>
      </button>
    </div>
  </div>



  {{ $both := merge $.Site.Data.educational_edit $.Site.Data.research_autogen }}


  <div class="row">
    <div class="col-lg-12">
      {{ range sort $both ".date" "desc"}}
      {{ partial "cards" (dict "value" . )}}
      {{ end }}
    </div>
  </div>




















  <!-- 
  <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#research" data-toggle="tab">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education" data-toggle="tab">Education</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="research">
              
              <div class="row">
                <div class="col-lg-12">
                  {{ range sort $.Site.Data.research_autogen ".date" "desc"}}
                  {{ partial "cards" (dict "value" . )}}
                  {{ end }}
                </div>
              </div>

            </div>
            <div class="tab-pane" id="education">

              <div class="row">
                <div class="col-lg-12">
                  {{ range sort $.Site.Data.educational_edit ".date" "desc"}}
                  {{ partial "cards" (dict "value" . )}}
                  {{ end }}
                </div>
              </div>

            </div>
        </div>
    </div>
  </div>
  -->

</div>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pager">
    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .Paginator.Prev.URL | relURL }}">&laquo; Previous</a></li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL | relURL }}">Next &raquo;</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}

  <br />  
{{end}}




